<tr data-hook="name">
  <th><%= Spree.t(:name) %></th>
  <td>
    <%= @user.name %>
  </td>
</tr>
<tr data-hook="about">
  <th><%= Spree.t(:about) %></th>
  <td>
    <%= @user.about %>
  </td>
</tr>
<tr data-hook="twitter">
  <th><%= Spree.t(:twitter) %></th>
  <td>
    <%= @user.twitter %>
  </td>
</tr>
<tr data-hook="facebook">
  <th><%= Spree.t(:facebook) %></th>
  <td>
    <%= @user.facebook %>
  </td>
</tr>
<tr data-hook="google_plus">
  <th><%= Spree.t(:google_plus) %></th>
  <td>
    <%= @user.google_plus %>
  </td>
</tr>
<tr data-hook="skype">
  <th><%= Spree.t(:skype) %></th>
  <td>
    <%= @user.skype %>
  </td>
</tr>
